---
// ButtonCV.astro
const {text, url} = Astro.props;
---
<a 
  href={url} 
  target="_blank" 
  class="border-1 border-zinc-800 bg-button-bg text-white rounded-full w-auto flex items-center justify-center p-2 hover:scale-102 transition-all duration-500 ease-out font-medium"
>
  {text}
</a>