---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Experience from '../components/Experience.astro'
---

<Layout>
	<header class="h-16 top-0 left-0 fixed w-full shadow-md z-50 ">
		<NavBar />
	</header>
	<main class="pt-16">
		<section id="home" class="mb-32">
			<Home />
		</section>
		<section id="experience" class="h-auto text-white text-center w-full m-auto pt-30" >
			<Experience/>
			<br><br><br><br><br>
		</section>
	</main>
</Layout>

