---
import ButtonCV from "./atoms/ButtonCV.astro"
const cv = {
  url: "https://docs.google.com/document/d/1LhV-8XImLrJmY3zIBHWOTDwyx2Km6vq_vQwDacVZEV4/edit?usp=sharing",
  text: "Ver mi CV",
};
---
<div class="w-80 sm:w-2/3 m-auto " >
    <h2 class="text-5xl pb-15">Sobre Mí</h2>
    <div id="about-content" class="transition-all duration-300 ease-in-out w-full p-6 md:gap-10 flex flex-col sm:flex-row border-1 border-zinc-800 rounded-2xl bg-neutral-900">

        <div class="w-2/3 m-auto sm:w-1/3 flex">
          <img src="/assets/personal-images/foto.png" alt="Imagen Personal" class="scale-110 shadow-[0_15px_15px_-13px_rgba(0,0,0,1)] border-b-1 border-neutral-950 rounded-lg w-full max-w-xs m-auto object-contain"> 
        </div>
      
        <div class="m-auto py-6 text-left w-full sm:w-2/3">
          <div class="mb-6">
              <h4 class="text-2xl text-center text-gray-300 mb-2">
                  ¡Hola! Soy <span class="block sm:inline text-3xl sm:text-4xl text-white font-semibold ">Alejo Gomez</span>
              </h4>
          </div>
          
          <div class="space-y-4 ">

            <p>Soy Programador Junior y Técnico Universitario en Programación, <span class="gradientText font-semibold">graduado</span> en la Universidad Tecnológica Nacional (UTN) en Buenos Aires, Argentina</p>


            <p>Comencé mis estudios en 2023, y luego de dos años de esfuerzo y dedicación, me gradué en 2025. Durante ese tiempo adquirí una sólida <span class="gradientText font-semibold">base lógica</span>, con un fuerte enfoque en los <span class="gradientText font-semibold">fundamentos de la programación. </span></p>
                
            <p>Di mis primeros pasos con C++,  siguiendo con C#, Java y SQL, desarrollando aplicaciones de escritorio y aplicaciones web conectadas a bases de datos relacionales. </p>
            
            <p>Cuento con más de <span class="gradientText font-semibold">dos años de experiencia</span> en desarrollo de software y desarrollo web. Participé en varios <span class="gradientText font-semibold"> proyectos grupales </span>donde fortalecí mis habilidades de trabajo en equipo</p>
            
            <p>En mi tiempo libre me dedico a <span class="gradientText font-semibold">seguir aprendiendo tecnologías modernas</span> como JavaScript, React, Node.js, Astro y Tailwind CSS, entre otras. Me apasiona construir soluciones funcionales, eficientes y visualmente atractivas.</p>

        </div>
          

          <div class="mt-8 sm:w-1/3 2xl:w-1/5 m-auto">
              <ButtonCV text={cv.text} url={cv.url}>
          </div>
      </div>
  </div>
      
</div>