---
import ButtonCV from "./atoms/ButtonCV.astro"
const cv = {
  url: "https://docs.google.com/document/d/1LhV-8XImLrJmY3zIBHWOTDwyx2Km6vq_vQwDacVZEV4/edit?usp=sharing",
  text: "Ver mi CV",
};
---
<div class="w-2/3 m-auto ">
    <h3 class="text-5xl pb-15">Sobre Mí</h3>
    <div id="about" class="w-full p-6 md:gap-15 flex flex-row border-1 border-violet-border">

        <div class="w-1/3">
          <img src="src/assets/personal-images/imagenPersonal.png" alt="Imagen Personal" class="rounded-lg max-w-xs m-auto object-contain"> 

        </div>
      
        <div class="p-6 text-left w-2/3">
          <div class="mb-6">
              <h4 class="text-2xl text-gray-300 mb-2">
                  ¡Hola! Soy <span class="text-4xl text-white font-semibold">Alejo Gomez</span>
              </h4>
          </div>
          
          <div class="space-y-4">
              <p class="text-lg leading-relaxed">
                  Programador Junior y Estudiante universitario de Programación y Sistemas Informáticos.
              </p>
              
              <p class="text-md leading-normal">
                  Cuento con mas de 2 años de experiencia en Desarrollo Software y Web, utilizando
                  tecnologias como C++, C#, JavaScript, SQL, entre otras.
              </p>

              <p class="text-md leading-normal">
                  Busco unirme a un equipo dinámico donde pueda contribuir con mis habilidades y formarme con profesionales experimentados.
                  <span class="block mt-2">Me gustan los desafíos y aprender de ellos.</span>
              </p>
          </div>
          

          <div class="mt-8">
              <ButtonCV text={cv.text} url={cv.url}>
          </div>
      </div>
  </div>
      
</div>