---

---
<div class="w-2/3 m-auto ">
    <h1 class="text-5xl pb-15">Sobre Mí</h1>
    <div id="about" class="w-full p-6 flex flex-row border-1 border-violet-border " >
        <div class="p-6">
            <img src="src/assets/personal-images/imagenPersonal.png" alt="Imagen Personal">
        </div>
        <div class="p-6 border-1 text-left ">
            <h4 class="text-2xl pb-4">¡Hola! soy <span class="font-semibold text-3xl">Alejo Gomez</span></h4>
            <p>
              Programador Junior y Estudiante universitario de Programación y Sistemas Informáticos.
            </p>
          
            <p class="mt-4">
              Cuento con más de <span class="font-semibold">2 años de experiencia</span> en Desarrollo de Software y Desarrollo Web,
              utilizando tecnologías como:
            </p>
            <ul class="text-left">
                <li>- C++</li>
                <li>- C#</li>
                <li>- SQL</li>
                <li>- JavaScript</li>
                <li>- Entre otras ...</li>
            </ul>
          
            <p class="mt-4">
              Mi objetivo es unirme a un equipo dinámico donde pueda contribuir y aprender de profesionales experimentados.
              Me entusiasma trabajar en proyectos que me permitan aplicar y expandir mis habilidades.
            </p>
        </div>
    </div>
      
</div>