---
import ExperiencieProject from "./Molecules/Experiencie-project.astro";
import { getCollection } from "astro:content";

const experiences = await getCollection("experiences");

const experiencesWithContent = await Promise.all(
  experiences.map(async (experience) => {
    const { data, render } = experience;
    const { Content } = await render();

    return {
      ...data,
      Content,
    };
  })
);
---

<div class="sm:w-2/3 w-80 m-auto mb-32">
  <h2 class="text-5xl pb-15">Experiencia Laboral</h2>

  {experiencesWithContent.map((experience) => (
    <ExperiencieProject {...experience} />
  ))}
</div>
