---
   import SocialLinks from "./Molecules/SocialLinks.astro"
---
<div id="home" class="text-white items-center text-center w-85 sm:w-1/2 flex flex-col justify-center min-h-[100vh] m-auto space-y-7" >
    <h1 id="home-h1" class="text-8xl mb-5 pb-3">Alejo Gomez</h1>
    <h2 id="home-h2" class="text-4xl mb-20 pb-1 ">Programador Junior</h2>
    <p class="text-center w-full 2xl:w-2/3  text-lg opacity-80">Siempre buscando desafíos para expandir mis conocimientos y crear soluciones 
        que marquen la <span class="gradientText font-semibold italic">diferencia</span>.</p>
    <SocialLinks/>
</div>
