---

---
<header>
    <nav class="flex text-white h-auto items-center py-2">
        <div class="w-1/4 flex justify-center items-center">
            <a href="#" class="flex justify-center mr-auto ml-4">
                <img src="src/assets/logos/personal/logo.png" alt="myLogo" class="w-12 transition-transform duration-300 ease-out hover:scale-110">
            </a>
        </div>
        
        <ul class="flex w-2/5 justify-around items-center ml-auto">
            <li><a href="#">Experiencia</a></li>
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Habilidades</a></li>
            <li><a href="#">Sobre mí</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    
</header>