---

---

    <nav class="hidden sm:flex text-white h-auto items-center py-2 ">
        <div class="w-1/4 flex justify-center items-center">
            <a href="#home" class="flex justify-center mr-auto ml-4">
                <img src="src/assets/logos/personal/logo.png" alt="myLogo" class="w-12 transition-transform duration-300 ease-out hover:scale-110">
            </a>
        </div>
        
        <ul class="flex w-2/5 justify-around items-center ml-auto">
            <li class=""><a href="#experience">Experiencia</a></li>
            <li><a href="#projects">Proyectos</a></li>
            <li><a href="#skills">Habilidades</a></li>
            <li><a href="#about">Sobre mí</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
    <script is:inline>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
          e.preventDefault();
      
          const target = document.querySelector(this.getAttribute('href'));
          const navbarHeight = document.querySelector('header').offsetHeight;
          const offsetTop = target.offsetTop - navbarHeight;
      
          window.scrollTo({
            top: offsetTop,
            behavior: 'smooth'
          });
        });
      });
    </script>
    
