---
import SkillsJson from '../content/json/Skills.json'
import Category from './Molecules/Category.astro';
const skills = SkillsJson.Skills;

---

<h1 class="text-5xl pb-10">
    Habilidades
</h1>
<div>
    {
       skills.map((category)=>{
        return(
            <Category {...category}/>
        )
       }) 
    }
</div>