---
import SkillsJson from '../content/json/Skills.json'
import Skill from '../components/Molecules/Skill.astro'

const skills = SkillsJson.Skills;

---

<h1 class="text-5xl">
    Habilidades
</h1>
<div>
    {
       skills.map((category)=>{
        return (<h1>{category.category}</h1>)
       }) 
    }
</div>