---
import SkillsJson from '../content/json/Skills.json'
import Category from './Molecules/Category.astro';
const skills = SkillsJson.Skills;

---
<div class="sm:w-2/3 w-80 m-auto">
    <h2 class="text-5xl pb-10">
        Habilidades
    </h2>
    <div>
        {
           skills.map((category)=>{
            return(
                <Category {...category}/>
            )
           }) 
        }
    </div>
</div>