@import "tailwindcss";
@theme {
  --color-violet-bg: rgb(18,8,27); 
  --color-violet-border:rgb(43, 2, 37);
  --color-button-bg:rgb(14, 14, 14);
}
/* border-zinc-800 */

:root{
  --box-shadow: /*0px 0px 5px 2px rgb(80, 80, 80);*/
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter';
  font-weight: 300;
  letter-spacing: 1px;
  background:rgb(14, 14, 14);
}

#project-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
}

#individual-experience{
  box-shadow: var(--box-shadow);
}

#category-container fieldset:last-child{
  margin-bottom: 1rem;
}

#individual-project{
  box-shadow: var(--box-shadow);
}

#individual-category{
  box-shadow: var(--box-shadow);
}

#extra-skill-container{
  box-shadow: var(--box-shadow);
}
#about{
  box-shadow: var(--box-shadow);
}

#experience-p{
  box-shadow: var(--box-shadow) ;
}

#contact-div{
  box-shadow:var(--box-shadow);
}

#submit{
  box-shadow: var(--box-shadow);
}
.disabled {
  pointer-events: none;
  opacity: 0.7;
  cursor: not-allowed; 
}

h1,h2{
  font-family: 'Manrope';
  font-weight: 500;
  background: linear-gradient(to bottom, #ffffff, #575657);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}
.gradientBackground{
  background: #270034;
  background: linear-gradient(90deg, rgba(39, 0, 52, 1) 0%, rgb(107, 20, 98) 90%);
}
.gradientText{
  color: #cf1cc0;
}
main{
  background: linear-gradient(to bottom, transparent 3%, rgb(46, 4, 42) 20%, transparent 30%,transparent 40%, rgb(46, 4, 42) 60%,transparent 90%);
}