@import "tailwindcss";
@theme {
  --color-violet-bg: rgb(18,8,27); 

}

:root{
  --box-shadow: 0px 0px 20px 1px rgba(130, 7, 146, 0.486) ;
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter';
  font-weight: 300;
  letter-spacing: 1px;
  background:rgb(14, 14, 14);
}

#project-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
}

#individual-experience:hover{
  box-shadow: var(--box-shadow);
}

#category-container fieldset:last-child{
  margin-bottom: 1rem;
}

#individual-project:hover{
  box-shadow: var(--box-shadow);
}

#individual-category:hover{
  box-shadow: var(--box-shadow);
}


#about-content:hover{
  box-shadow: var(--box-shadow);
}

#experience-p:hover{
  box-shadow: var(--box-shadow) ;
}

#academic-item:hover{
  box-shadow: var(--box-shadow) ;
}


.disabled {
  pointer-events: none;
  opacity: 0.7;
  cursor: not-allowed; 
}

h1,h2{
  font-family: 'Manrope';
  font-weight: 500;
  background: linear-gradient(to bottom, #ffffff, #575657);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}
.gradientBackground{
  background: #270034;
  background: linear-gradient(90deg, rgb(25, 0, 33) 0%, rgb(107, 20, 98) 90%);
}
.gradientExperienceBackground{
background: #141414;
background: linear-gradient(191deg, rgba(20, 20, 20, 1) 10%, rgba(9, 9, 9, 1) 40%, rgba(9, 9, 9, 1) 60%, rgba(20, 20, 20, 1) 90%);
}
.gradientText{
  color: #cf1cc0;
}
main{
  background: linear-gradient(to bottom, transparent 3%, rgb(41, 4, 46) 15%, transparent 35%);
}